################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# obj folders
/DiscordbotLib/obj
/HassBotApp/obj
/HassBotData/obj
/HassBotDTO/obj
/HassBotUtils/obj

/DiscordbotLibCore/obj
/HassBotAppCore/obj
/HassBotDataCore/obj
/HassBotDTOsCore/obj
/HassBotUtilsCore/obj

# bin folders
/DiscordbotLib/bin
/HassBotApp/bin
/HassBotData/bin
/HassBotDTO/bin
/HassBotUtils/bin

/DiscordbotLibCore/bin
/HassBotAppCore/bin
/HassBotDataCore/bin
/HassBotDTOsCore/bin
/HassBotUtilsCore/bin

# .config files
/DiscordbotLib/*.config
/HassBotApp/*.config
/HassBotData/*.config
/HassBotDTO/*.config
/HassBotUtils/*.config
/Output/*.config

/DiscordbotLibCore/*.config
/HassBotAppCore/*.config
/HassBotDataCore/*.config
/HassBotDTOsCore/*.config
/HassBotUtilsCore/*.config
/Output/*.config

/packages
.vs
secret.txt
!HassBotData/packages.config
!HassBotDTOs/packages.config
!DiscordBotLib/packages.config
!HassBotUtils/packages.config
!HassBotApp/packages.config
*.log
!HassBotDataCore/packages.config
!HassBotDTOsCore/packages.config
!DiscordBotLibCore/packages.config
!HassBotUtilsCore/packages.config
!HassBotAppCore/packages.config
/HassBotAppCore/Properties/PublishProfiles
/HassBotAppCore/HassBotAppCore.csproj.user
